.hidden {
  visibility: hidden;
}
dialog {
  padding: 10px;
  * {
    margin: 0px;
    padding: 0px;
  }
  border: 0px;
  background-color: rgba(243, 217, 168, 0.436);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: clamp(500px, 40%, 700px);
  width: clamp(700px, 50%, 1200px);
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 7fr 1fr;
}

.options {
  grid-area: 1/1/3/2;
  margin-left: 20px;
  font-size: 1.4rem;
  height: 100%;
  list-style-type: none;
  line-height: 4;
  border-right: 2px solid rgba(243, 217, 168, 0.436);
}
.options li:hover {
  transform: scale(1.1, 1.1);
}
#priority {
  grid-area: 2/2/3/3;
  margin-top: 10px;
  display: flex;
  align-items: center;
  .priorityButton {
    margin: 0px 10px;
    padding: 10px;
    border: none;
    font-size: 1.1rem;
    background-color: wheat;
    border-radius: 5px;
  }
  .priorityButton:hover {
    transform: scale(1.1, 1.1);
  }
  .prioritySelected {
    background-color: orange;
  }
}
.toDoForm {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  font-size: 1.3rem;
  justify-content: center;
  align-items: center;
  * {
    border-radius: 10px;
    padding: 10px;
  }
  input {
    height: 2rem;
    background-color: wheat;
    border: none;
    font-size: 1.2rem;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  textarea {
    border: none;
    resize: none;
    background-color: wheat;
    outline: none;
    height: 5.2rem;
    padding: 20px;
    overflow: hidden;
  }
}

.projectForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr, 1fr;
  margin-top: 40px;
  justify-content: center;
  font-size: 1.3rem;
  label {
    margin-top: 10px;
  }
  input {
    height: 3rem;
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.notesForm {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 20px;
  input,
  textarea {
    background-color: wheat;
    outline: none;
    border: none;
  }
  input {
    font-size: 1.7rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
  }
  textarea {
    padding: 5px;
    padding-top: 15px;
    font-size: 1.5rem;
    height: 200px;
    resize: none;
    border-bottom-right-radius: 10px;
  }
}
dialog #submit{
  border: none;
  background-color: rgba(255, 166, 0, 0.505);
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5rem;
  width: 10ch;
  position: absolute;
  top:90%;
  left:80%;
}
#submit:hover{
  transform:scale(1.1,1.1);
}
