*{
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  padding:0px;
}
html,body{
  margin:0px;
  height:100%;
  width: 100%;
}
body{
  background-color:aliceblue;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
}
header{
  grid-area: 1/1/2/3;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.27);
  z-index: 2;
  p{
    font-size: 3rem;
  }
  button{
    background-color: cadetblue;
    border: 0px;
    border-radius: 5px;
    font-size: 1.5rem;
    padding:10px;
  }
}
sidebar{
  grid-area: 2/1/3/2;
  background-color:rgb(12, 117, 117);
}
main{
  color:white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  .card{
    margin: 20px;
    width: 350px;
    height: 200px;
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    padding:10px;
    border-radius:10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.27);
    .title{
      font-size: 1.7rem;
      padding: 20px 5px;
    }
    .duedate{
      align-self: flex-end;
      margin-top:auto;
      padding: 10px;
      font-size: 1.5rem;
      padding:10px;
      color: aquamarine;
    }
  }
}