* {
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  *{
    box-sizing: border-box;
  }
}
body {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 10fr;
}
header {
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #456cda;
  color: #d8dee9;
  padding: 0px 75px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.14);
  z-index: 2;
  p {
    font-size: 3rem;
  }
  button {
    color: #2e3440;
    background-color: #60a5fa;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    padding: 15px;
  }
  button:hover {
    background-color: #aec9eb;
    color: #3b6393;
  }
  #home {
    margin-left: auto;
    margin-right: 30px;
  }
}
dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: clamp(450px, 50vw, 1000px);
  button {
    background-color: #60a5fa;
    color: #2e3440;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    margin: 10px 0px;
  }

  form {
    display: flex;
    flex-direction: column;
    *{font-size: 1.5rem;}
    #listItems{
      display: flex;
      flex-direction: column;
      align-content: center;
      overflow: auto;
      height:300px;
    }
    input {
      border: 1px solid #60a5fa;
      outline: none;
      border-radius: 3px;
    }
    footer {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        margin-left: auto;
        padding: 15px;
      }
    }
  }
}
